
  
    .nav2 {
      background-color: rgb(255, 255, 255);
      color: #595d6e;
      padding: 0;
      font-family: 'Poppins';
    }
    .new2 {
      background-color: #ffffff;
      padding: 10px;
      float: left;
      color: #fa0000;
      font-size: .99rem;
      font-weight: 600;
      display: block;
    }
    #news2 {
      padding: 10px;
      float: left;
      font-weight: bold;
    }
    .clear2 {
      clear: both;
    }

    .card-tktbuscado{
      flex: 1 1 auto;
      padding: 1rem;
      width: var(--card-width);
      height: var(--card-height);
      position: relative;
      border-radius: 6px;
      justify-content: center;
      align-items: center;
      text-align: center;
      display: flex;
      /* border: 16px; */
      border: groove;
      background-color: #b9f7aea8;
      
  }
  
  .card-noencontrado{
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #e03a2ee1;
      background-clip: border-box;
      border: 1px solid #0f4006;
      border-radius: 0.25rem;
      color: #ffffff;
  }

  .card-header-gestkt {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #75293d;
    border-bottom: 1px solid #ebedf2;
    color: white;

  }
  .formulario-tkt {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #e6eae5e6;
    background-clip: border-box;
    border: 1px solid #0f4006;
    border-radius: 0.25rem;
    color: #000000;
    align-items: center;
}

kt-demo-panel--right .kt-demo-panel.kt-demo-panel--on {
  -webkit-transition: left .3s ease,right .3s ease;
  transition: left .3s ease,right .3s ease;
  right: 0;
  left: auto;
}